<h1>Welcome, <%= @user.name %></h1>

<h2> Wine </h2>

<% @user.alcohols.each do |alcohol| %>
		<% if alcohol.category == 'Wine' %>
	<%= link_to alcohol.brand, alcohol_path(alcohol) %>
		<% end %>
<% end %>

<h2> Beer </h2>

<% @user.alcohols.each do |alcohol| %>
		<% if alcohol.category == 'Beer' %> 
	<%= link_to alcohol.brand, alcohol_path(alcohol) %>
	<% end %>
<% end %>

<h2> Liquor </h2>

<% @user.alcohols.each do |alcohol| %>
		<% if alcohol.category == 'Liquor' %>
	<%= link_to alcohol.brand, alcohol_path(alcohol) %>
	<% end %>

<% end %>


