	<!-- All html, css, welcome page for our website asking you to login,
  which redirects you to your show page -->
<!-- landing page / where user will end up once they log in -->
<h1>Welcome <%= @user.name %></h1>
<!-- LINKS: -->
  <!-- add new alcohol to your profile -->
  <!-- see all wines / all beers / all liquors / all alcohols-->

  <!-- advertise some featured stuff -->
