
<h1 style="margin-left: 40px; margin-top: 20px;">Alcohol</h1>
<div style="margin-top: 30px;">
	<ul>
		<% @alcohols.each do |alcohol| %>
			<p><b><%= alcohol.brand %> - <%= alcohol.variety %></b></p>
				<% if !alcohol.stores.empty? %>
					<p>Sold at:</p>
					<ul type="square">
						<% alcohol.stores.each do |store| %>
							<li><%= link_to store.name, store_path(store) %></li>
							<% end %>
						<br>
					</ul>
					<% end %>
					<hr>
		<% end %>
	</ul>
</div>
