
	<h1>Alcohol</h1>

	<ul>
		<% @alcohols.each do |alcohol| %>
			<p><b><%= alcohol.brand %> - <%= alcohol.variety %></b></p>
				<% if !alcohol.stores.empty? %>
					<p>Sold at:</p>
						<% alcohol.stores.each do |store| %>
							<%= link_to store.name, store_path(store) %><br>
							<% end %>
						<br>
						<hr>
						<br>
					<% end %>
		<% end %>
	</ul>
