<h1 style="margin-left: 40px; margin-top: 20px;">Liquor</h1>
<p>
	<ul>
		
		
	<% @liquor_var_arr.each do |liquor_variety| %>
		<h3><%= liquor_variety %></h3>
		<ul>
			<% @liquors.each do |liquor| %>
				<% if liquor.variety == liquor_variety %>
					<li><%= liquor.brand %></li>
				<% end %>
			<% end %>
		</ul>
	<% end %>

		
	
			

	

		
		

</p>

