
<h1 style="margin-left: 40px; margin-top: 20px;">Liquor</h1>
<p>
	<ul>
		<% @liquors.each do |liquor| %>
			<p><%= link_to liquor.brand, alcohol_path(liquor) %> - <%= liquor.variety %></p>
		<% end %>
	</ul>
</p>
